<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<form th:method="patch" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="n">Name:</label>
    <input id="n" type="text" th:field="*{firstname}" th:value="${user.getFirstname()}">
    <br>
    <label for="f">Lastname:</label>
    <input id="f" type="text" th:field="*{lastname}" th:value="${user.getLastname()}">
    <br>
    <label for="e">Email:</label>
    <input id="e" type="text" th:field="*{email}" th:value="${user.getEmail()}">
    <br>
    <input type="hidden" th:field="*{id}" th:value="${user.getId()}">
    <input type="submit" value="ok">
</form>
</body>
</html>